<p id="notice"><%= notice %></p>

<p>
  <strong>记录人：</strong>
  <%= @entry.user.name %>
</p>

<p>
  <strong>时间：</strong>
  <%= @entry.real_time.to_s(:db) %>
</p>


<p>
  <strong>类型：</strong>
  <%= @entry.cost_type.name %>
</p>

<p>
  <strong>金额：</strong>
  <%= @entry.price %>
</p>
<p>
  <strong>备注信息：</strong>
  <%= @entry.desc %>
</p>

<%= link_to '编辑', edit_entry_path(@entry) %> |
<%= link_to '返回首页', entries_path %>
