
<h1><%= @begin_time.strftime("%Y年%m月")%>--消费统计</h1>
<%average = @results.values.sum / User.count rescue 0%>
  <table class='table well' >
    <thead>
      <tr>
        <th>记录人</th>
        <th>金额（<%=(@results.values.sum / 100.0).round(2)%>元）</th>
        <th>差值（<%=(average / 100.0).round(2)%>元）</th>
      </tr>
    </thead>

    <tbody>
      <% User.all.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= (@results[user.id].to_i / 100.0).round(2) %></td>
          <td><%= ((@results[user.id].to_i - average) / 100.0).round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <h1>消费明细</h1>
  <%= link_to '新建', new_admin_entry_path %>

  <table class='table well' >
    <thead>
      <tr>
        <th>记录人</th>
        <th>类型</th>
        <th>金额（元）</th>
        <th>时间</th>
        <th>备注信息</th>
        <th colspan="3">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.user.name %></td>
          <td><%= entry.cost_type.name %></td>
          <td><%= entry.price %></td>
          <td><%= entry.real_time.to_s(:db) %></td> <td><%= entry.desc %></td>
          <%if current_user.try(:id) == entry.user_id%>
            <td><%= link_to '编辑', edit_admin_entry_path(entry) %></td>
          <%else%>
            <td><%= link_to '查看', admin_entry_path(entry) %></td>
          <%end%>
          <td><%#= link_to '删除', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @entries%>

<br>

