<!DOCTYPE html>
<html lang="en">
  <head>
    <title>野风-首页</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!--div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div-->
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
      </div>
    </div><!-- /.container -->

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#contact">关于我</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.nav-collapse -->
  </nav><!-- /.navbar -->
  <%= user_info%>
    <div class='row'>
      <div class='col-md-3'>
        <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="<%= admin_entries_path %>">记账系统</a></li>
        </ul>
        </nav><!-- /.navbar -->
      </div>
      <div class='col-md-9'>
        <%= yield%>
      </div>
    </div>
  </body>
</html>

